<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Agenda.Properties.Settings.agendaConnectionString"
            connectionString="Data Source=JOSEULLOAVASQUE\SQLEXPRESS;Initial Catalog=agenda;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>